<% content_for :meta_title, title = "HP - NEWS ! Tiền điện tháng này lên cao quá , tính thử xem nào ~ EVN" %>
<% content_for :meta_description, "Tính xem điện đóm thế nào, chứ tốn thế này có mà chết " %>
<% content_for :meta_image, image_path("evn.png") %>
<% content_for :keywords, title %>

<section style="min-height: 600px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h4 class="p-title mt-30"><b>Tính tiền điện  đây</b></h4>
          <p> Nhập số điện các hạ đã dùng tháng vừa rồi vào ô dưới</p>
          <input type="text" id="quantity">
          <hr>
          <div>
            <p>Tiền điện <span id="fee" style="color: red; font-size: large;">0</span> $ </p>
            <p>Thêm cả VAT nữa số tiền các hạ mất là <span id="vat" style="color: red; font-size: large;">0</span> $ </p>
            <p id="comment" style="color: red;"></p>
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4>Giá điện trên được tính theo thông báo của EVN:</h4>
      <pre>
      Bậc1: 0 – 50kWh     1.678 đ/kWh (giá cũ 1.549 đ/kWh)

      Bậc2: 51 – 100kWh   1.734 đ/kWh (giá cũ 1.600 đ/kWh)

      Bậc3: 101 – 200kWh  2.014 đ/kWh (giá cũ 1.858 đ/kWh)

      Bậc4: 201 – 300kWh  2.536 đ/kWh (giá cũ 2.340 đ/kWh)

      Bậc5: 301 – 400kWh  2.834 đ/kWh (giá cũ 2.615 đ/kWh)

      Bậc6: 401kWh~       2.927 đ/kWh (giá cũ 2.701 đ/kWh)
    </pre>

    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {


    $('#quantity').change(function(){
      $('#comment').hide();
      $('#fee').hide();
      $('#vat').hide();
      var value = $('#quantity').val();
      var sodien = Number(value);

      if (isNaN(sodien)){
        $('#comment').text("DKM ! Đã bảo hút cần ít thôi , nhập số thôi, nhập ký tự khác vào tính đc cc ấy !").fadeIn("slow");
        $('#fee').text("méo thể tính nổi").fadeIn("slow");
        $('#vat').text("éo biết luôn").fadeIn("slow");
      }else {
        var object = calculate(sodien);
        var total = object.money.toLocaleString() + " | Giá cũ: " + object.old.toLocaleString()
        var vat  = ((object.money)*1.1).toLocaleString() + " | Giá cũ: " + ((object.old)*1.1).toLocaleString()
        $('#fee').text(total).fadeIn("slow");
        $('#vat').text(vat).fadeIn("slow");
        $('#comment').text(object.comment).fadeIn("slow");

      }
    })

    function calculate(sodien) {
      var new_price = [1678, 1734, 2014, 2536, 2834, 2927]
      var old_price = [1549, 1600, 1858, 2340, 2615, 2710]

      var new1 = new_price[0]*50;
      var new2 = new1 + new_price[1]*50;
      var new3 = new2 + new_price[2]*100;
      var new4 = new3 + new_price[3]*100;
      var new5 = new4 + new_price[4]*100;

      var old1 = old_price[0]*50;
      var old2 = old1 + old_price[1]*50;
      var old3 = old2 + old_price[2]*100;
      var old4 = old3 + old_price[3]*100;
      var old5 = old4 + old_price[4]*100;

      if (sodien < 51) {
        var obj = {
          money: sodien*new_price[0],
          old: sodien*old_price[0],
          comment: "Tiết kiệm thế ! Nhà ko có máy lạnh à?"
        }
        return obj;
      } else if(sodien < 101) {
        var obj = {
          money: new1+(sodien - 50)*new_price[1],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Tiết kiệm thế là tốt, nhớ đi làm từ thiện thường xuyên nhé !"
        }
        return obj;
      } else if(sodien < 201){
        var obj = {
          money: new2+(sodien - 100)*new_price[2],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Tiết kiệm thế là tốt, giữ phong độ nhé !"
        }
        return obj;
      } else if(sodien < 301){
        var obj = {
          money: new3+(sodien - 200)*new_price[3],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Dùng điện hơi nhiều đấy, tắt bớt tivi , máy lạnh ,nhấc mông lên ra ngoài hít không khí trong lành nào"
        }
        return obj;
      } else if(sodien < 401){
        var obj = {
          money: new4+(sodien - 300)*new_price[4],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Nhà kinh doanh à? Ko thì đi kiểm tra lại khéo hư cmn đồng hồ điện rồi"
        }
        return obj;
      } else {
        var obj = {
          money: new5+(sodien - 400)*new_price[5],
          old: old1+(sodien - 50)*old_price[1],
          comment: "Vãi , bảo nhập số điện 1 tháng đi nhập số điện cả năm à T.T !"
        }
        return obj;
      }
    }

  })
</script>
