<div class="row">
  <div class="col-sm-6">
    <%= link_to news_path(news) do %>
      <%= image_tag (news.link_image) %>
      <h4 class="pt-20">
          <b><%= news.title %></b>
      </h4>
    <% end %>
    <ul class="list-li-mr-20 pt-10 mb-30">
      <li class="color-lite-black"><%= news.description %></li>
    </ul>
  </div>
</div>
