<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h4 class="p-title mt-30"><b>LIST NEWS</b></h4>
          <div class="row" id="my-posts">
            <%= render @posts %>
          </div>
          <div id="infinite-scrolling" class="justify-content-center">
            <%= will_paginate %>
          </div>
      </div><!-- col-md-9 -->
    </div>
  </div>
</section>
